* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #eee;
    color: #1b2119;
    -webkit-font-smoothing: antialiased;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

header {
    background-color: #091728;
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    text-align: center;
}

    header > div#logo {
        line-height: 70px;
        position: relative;
    }
    
    header > .menuDown {
        box-shadow: 0 3px 5px rgba(0,0,0,.15);
    }
    
    header > .menuUp {
        box-shadow: none;
    }
    
        header > div#logo > h1 {
            color: #c1cdc1;
            font-weight: 300;
            text-transform: uppercase;
        }
        
        header > div#logo > div#navToggle {
            background-color: #091728;
            position: absolute;
            right: 0;
            top: 0;
            transition: 300ms all ease;
        }
            
            header > div#logo > div#navToggle:hover {
                background-color: rgba(0,0,0,.1);
            }
            
            header > div#logo > div#navToggle > a {
                color: rgba(255,255,255,.85);
                display: block;
                font-size: 0.85em;
                font-weight: 600;
                padding: 0 2.5rem;
                text-decoration: none;
                transition: 300ms all ease;
            }
            
                header > div#logo > div#navToggle:hover > a {
                    color: rgba(255,255,255,1);
                }

    header > nav {
        background-color: #091728;
        display: none;
        flex: 1;
        transform: 300ms all ease;
    }
    
        header nav > ul {
            list-style-type: none;    
        }
        
            header nav > ul > li {
                border-bottom: 1px dotted rgba(0,0,0,.1);
                position: relative;
            }
            
                header nav > ul > li:last-of-type {
                    border-bottom: none;    
                }
            
                header nav > ul > li > a {
                    display: block;
                    color: #c1cdc1;
                    font-weight: 700;
                    padding: 1.5rem 0;
                    text-decoration: none;
                    transition: 250ms all ease;
                }
                
                    header nav > ul > li > a span.toggle {
                        background-color: rgba(0,0,0,.05);
                        border-radius: 3rem;
                        color: rgba(0,0,0,.25);
                        font-size: 0.75em;
                        font-weight: 500;
                        padding: 2px 8px;
                        text-transform: lowercase;  
                    }
                    
                    header nav > ul > li > a span.caret {
                        display: none;
                    }
                
                    header > nav > ul > li:hover > a {
                        color: #c1cdc1;  
                    }
                
            header > nav > ul > li > nav {
                background-color: rgb(51,51,51);
                border-radius: 1.5em;
                box-shadow: 0 2px 8px rgba(0,0,0,.6);
                display: none;
                overflow: hidden;
                position: absolute;
                right: 5%;
                width: 90%;
                z-index: 100;
            }
            
                header > nav > ul > li > nav > ul > li > a {
                    color: rgba(255,255,255,.85);
                    transition: 300ms all ease;
                }
                
                    header > nav > ul > li > nav > ul > li:hover > a {
                        background-color: rgba(0,0,0,.6);
                        color: rgba(255,255,255,1);
                    }

/* Medium screens */
@media all and (min-width: 600px) {
    header > div#logo > div#navToggle {
        display: none;    
    }
    
    header {
        background-color: #091728;
        flex-direction: row;
        line-height: 90px;
        padding: 0 3rem;
        position: fixed;
        text-align: left;
        width: 100%;
    }
    
        header > div#logo {
            background-color: transparent;
            line-height: 90px;
        }
    
            header > div#logo > h1 {
                color: #c1cdc1;
            }
            
    header > nav {
        background-color: transparent;
        display: block;
    }
    
        header > nav > ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;    
        }
        
            header nav > ul > li {
                border-bottom: none;
            }
    
                header nav > ul > li > a {
                    padding: 0 1.25rem;
                }
                    
                    header nav > ul > li > a span.toggle {
                        display: none;  
                    }
                    
                    header nav > ul > li > a span.caret {
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid rgba(0,0,0,.65);
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-radius: 1px;
                        content: "";
                        display: inline-block;
                        height: 0;
                        margin: 0 0 0 .25rem;
                        transition: 250ms all ease;
                        width: 0;
                        vertical-align: middle;
						border-top-color: #c1cdc1;
                    }
                    
                        header nav > ul > li:hover > a span.caret {
                            border-top-color: #c1cdc1;
                            transform: rotate(270deg); 
                        }
    
    header > nav > ul > li:hover > nav {
        background-color: rgb(51,51,51);
        border-radius: .25em;
        box-shadow: 0 2px 8px rgba(0,0,0,.6);
        display: block;
        line-height: 3em;
        right: -50%;
        width: 196px;
    }
}

a {
	text-decoration: none;
	/* background-color: #fafafa; */
	color: #c1cdc1;
}

.top-img {
	top: 0px;
	/* background-color: #4C5364; */
	/* background-color: #495266; */
	/* background-color: #464C57; */
	width: 100%;
	padding-bottom: 20px;
	/* text-align: right; */
	padding-top: 100px;
}

.top-img img {
	padding-top: 10px;
	width: 50%;
	min-width:800px;
}

.inner {
	max-width: 1024px;
	margin: 0 auto;
}

.section-heading {
	text-align: center;
	letter-spacing: 0.3em;
	font-weight: 700;
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #CEC8C8;
	font-size: 24px;
	text-transform: uppercase;
}

.subsection-heading {
	text-align: left;
	letter-spacing: 0.1em;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	text-transform: uppercase;
}

.right {
	float: right;
}

img.icon {
	width: 75px;
	height: 75px;
	/* -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%; */
	border-radius:50%;
	float: left;
	display: block;
	margin-left: -100px;
	margin-top: 0px;
	background-color: #fff;
	opacity: 0.8;
	z-index: 0;
	/* -webkit-transition: all .4s ease; */
}

.resume {
	height: auto;
	margin-top: -30px;
	padding-top: 60px;
	font-size: 18px;
	line-height: 34px;
	/* background-color: #000000; */
}